<div class="calendar-container">
  <div class="calendar">
    <div class="calendar-headline">
      <div class="calendar-headline-month">
        {{ firstDayOfActiveMonth().monthShort }},
        {{ firstDayOfActiveMonth().year }}
      </div>
      <div class="calendar-headline-controls">
        <div class="calendar-headline-control" (click)="goToPreviousMonth()">
          Previous
        </div>
        <div
          class="calendar-headline-control calendar-headline-control-today"
          (click)="goToToday()"
        >
          Today
        </div>
        <div class="calendar-headline-control" (click)="goToNextMonth()">
          Next
        </div>
      </div>
    </div>
    <div class="calendar-weeks-grid">
      @for (weekday of weekDays(); track $index) {
      <div class="calendar-weeks-grid-cell">
        {{ weekday }}
      </div>
      }
    </div>
    <div class="calendar-grid grid grid-cols-7">
      @for (dayOfMonth of daysOfMonth(); track $index) {
      <div
        matBadge="2"
        matbadgeOverlap="false"
        [ngClass]="{
          'calendar-grid-cell': true,
          'hover:bg-gray-400': true,
          'calendar-grid-cell-active':
            activeDay()?.toISODate() === dayOfMonth.toISODate(),
          'calendar-grid-cell-inactive':
            firstDayOfActiveMonth().month !== dayOfMonth.month,
            'calendar-grid-cell-today': dayOfMonth.toISODate() === today().toISODate(),
        }"
        class="p-2 flex items-center justify-center cursor-pointer"
        (click)="activeDay.set(dayOfMonth)"
      >
        {{ dayOfMonth.day }}
      </div>
      }
    </div>
  </div>
  <div class="schedule">
    <div class="schedule-headline">
      @if (activeDay(); as activeDay) {
      <div>{{ activeDay.toLocaleString(DATE_MED) }}</div>
      } @else {
      <div>No day selected</div>
      }
    </div>
    <div>
      @if (activeDay() && activeDayHabits().length === 0) {
      <div>No habits for this day</div>
      } @else if (activeDay()) { @for (habit of activeDayHabits(); track $index)
      {
      <div>{{ habit }}</div>
      } }
    </div>
  </div>
</div>

<div matBadge="4" matBadgeOverlap="false" class="demo-section">Text with a badge</div>

<div matBadge="1" matBadgeSize="large" class="demo-section">Text with large badge</div>